.Rproj.user
.Rhistory
.RData
.Ruserdata
set_*.csv
overview.csv
results.csv
SyntheticDataset_*.csv
*.xlsx
*.pdf
*.Rmd
scrape_*.R
*.train
rsconnect/
readme_files/
app_0_1.R
augment_funerals.R
convert_csv.R
fasttext_*.R
FileUpload*.R
Detect_raw.R
Detect_as_function_2.R
Prototype.Rproj
funerals_new.csv
algorithm2.Rdata
Classify.R
